In [2]:
from pandas import *
import pandas
import numpy as np

In [11]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['load', 'info', 'save', 'unique', 'datetime']
`%matplotlib` prevents importing * from pylab and numpy

In [9]:
import matplotlib.pyplot as plt

In [12]:
randn(5)

array([-0.80210832, -0.27589677, -1.54562217, -0.99702013,  1.35337034])

In [5]:
def side_by_side(*objs,**kwds):
    from pandas.core.common import adjoin
    space = kws.get('space', 4)
    reprs = [repr(objs).split('\n') for obj in objs]
    print(adjoin(space, *reprs)) 
    
plt.rc('figure',figsize=(10, 6))

In [13]:
labels = ['a','b','c','d','e']
s = Series(randn(5),index=labels)
s

a    1.130230
b   -0.087434
c   -0.341245
d   -1.128444
e    0.085474
dtype: float64

In [15]:
'b' in s

True

In [16]:
s['b']

-0.087433624078050345

In [17]:
mapping = s.to_dict() # note this!
mapping

{'a': 1.1302298957996713,
 'b': -0.087433624078050345,
 'c': -0.3412446554579161,
 'd': -1.1284440251991832,
 'e': 0.085473514237047216}

In [19]:
a = Series(mapping,index = ['b','e','a']) # note this!
a

b   -0.087434
e    0.085474
a    1.130230
dtype: float64

In [23]:
s[:3] #slice on labels

a    1.130230
b   -0.087434
c   -0.341245
dtype: float64

In [21]:
a[notnull(a)]

b   -0.087434
e    0.085474
a    1.130230
dtype: float64

In [22]:
a.dropna()

b   -0.087434
e    0.085474
a    1.130230
dtype: float64

In [24]:
df = DataFrame({'a':np.random.randn(6),
              'b': ['foo','bar'] * 3,
              'c': np.random.randn(6)})
df

          a    b         c
0 -0.499584  foo  0.144232
1 -0.395802  bar -2.165871
2  0.753437  foo  0.551499
3  0.321960  bar  0.463592
4  1.798549  foo  0.230352
5  0.090734  bar -1.026978

In [25]:
df['d'] = 5

In [26]:
df

          a    b         c  d
0 -0.499584  foo  0.144232  5
1 -0.395802  bar -2.165871  5
2  0.753437  foo  0.551499  5
3  0.321960  bar  0.463592  5
4  1.798549  foo  0.230352  5
5  0.090734  bar -1.026978  5

In [28]:
df['e'] = range(6)

In [29]:
df

          a    b         c  d  e
0 -0.499584  foo  0.144232  5  0
1 -0.395802  bar -2.165871  5  1
2  0.753437  foo  0.551499  5  2
3  0.321960  bar  0.463592  5  3
4  1.798549  foo  0.230352  5  4
5  0.090734  bar -1.026978  5  5

In [30]:
df['c']

0    0.144232
1   -2.165871
2    0.551499
3    0.463592
4    0.230352
5   -1.026978
Name: c, dtype: float64

In [32]:
df.xs(0)

a   -0.4995836
b          foo
c    0.1442321
d            5
e            0
Name: 0, dtype: object

In [33]:
df.ix

In [34]:
df[2:3]

          a    b         c  d  e
2  0.753437  foo  0.551499  5  2

In [35]:
df.ix[0]

a   -0.4995836
b          foo
c    0.1442321
d            5
e            0
Name: 0, dtype: object

In [36]:
df.ix[2]

a    0.7534367
b          foo
c    0.5514994
d            5
e            2
Name: 2, dtype: object

In [40]:
timeit df.ix[0,'b']

10000 loops, best of 3: 63.2 µs per loop

In [39]:
timeit df.get_value(0,'b')

10000 loops, best of 3: 45.6 µs per loop

In [42]:
df.ix[0:4,'b']

0    foo
1    bar
2    foo
3    bar
4    foo
Name: b, dtype: object

In [44]:
df.ix[2:4,'b':'c']

     b         c
2  foo  0.551499
3  bar  0.463592
4  foo  0.230352

In [45]:
df.ix[[0,2],['b','a']]

     b         a
0  foo -0.499584
2  foo  0.753437

In [46]:
df.ix[df['c']>0,'b']

0    foo
2    foo
3    bar
4    foo
Name: b, dtype: object

In [47]:
df[df['c']>0]

          a    b         c  d  e
0 -0.499584  foo  0.144232  5  0
2  0.753437  foo  0.551499  5  2
3  0.321960  bar  0.463592  5  3
4  1.798549  foo  0.230352  5  4

In [49]:
df = DataFrame({'a':np.random.randn(6),
              'b': ['foo','bar'] * 3,
              'c': np.random.randn(6)},
              columns = ['a','b','c','d'])
df

          a    b         c    d
0 -0.416118  foo  1.355197  NaN
1 -0.034853  bar  0.043644  NaN
2 -0.222547  foo  0.313831  NaN
3  0.914599  bar -1.318917  NaN
4  0.988457  foo -0.472678  NaN
5 -0.888960  bar  1.369235  NaN

In [50]:
isnull(df)

       a      b      c     d
0  False  False  False  True
1  False  False  False  True
2  False  False  False  True
3  False  False  False  True
4  False  False  False  True
5  False  False  False  True

In [54]:
df.align(s,join="outer",axis=0)

(          a    b         c    d
 0 -0.416118  foo  1.355197  NaN
 1 -0.034853  bar  0.043644  NaN
 2 -0.222547  foo  0.313831  NaN
 3  0.914599  bar -1.318917  NaN
 4  0.988457  foo -0.472678  NaN
 5 -0.888960  bar  1.369235  NaN
 a       NaN  NaN       NaN  NaN
 b       NaN  NaN       NaN  NaN
 c       NaN  NaN       NaN  NaN
 d       NaN  NaN       NaN  NaN
 e       NaN  NaN       NaN  NaN, 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
 5         NaN
 a    1.130230
 b   -0.087434
 c   -0.341245
 d   -1.128444
 e    0.085474
 dtype: float64)

In [55]:
df.align(s,join='inner',axis=1)

(          a    b         c    d
 0 -0.416118  foo  1.355197  NaN
 1 -0.034853  bar  0.043644  NaN
 2 -0.222547  foo  0.313831  NaN
 3  0.914599  bar -1.318917  NaN
 4  0.988457  foo -0.472678  NaN
 5 -0.888960  bar  1.369235  NaN, a    1.130230
 b   -0.087434
 c   -0.341245
 d   -1.128444
 dtype: float64)

In [56]:
s

a    1.130230
b   -0.087434
c   -0.341245
d   -1.128444
e    0.085474
dtype: float64

In [59]:
df.ix[]

          a    b         c    d
0 -0.416118  foo  1.355197  NaN
1 -0.034853  bar  0.043644  NaN
2 -0.222547  foo  0.313831  NaN
3  0.914599  bar -1.318917  NaN
4  0.988457  foo -0.472678  NaN
5 -0.888960  bar  1.369235  NaN

In [60]:
df.dropna()

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [61]:
df.mean()

a    0.056763
c    0.215052
dtype: float64

In [62]:
df

          a    b         c    d
0 -0.416118  foo  1.355197  NaN
1 -0.034853  bar  0.043644  NaN
2 -0.222547  foo  0.313831  NaN
3  0.914599  bar -1.318917  NaN
4  0.988457  foo -0.472678  NaN
5 -0.888960  bar  1.369235  NaN

In [66]:
s.apply(np.mean)

a    1.130230
b   -0.087434
c   -0.341245
d   -1.128444
e    0.085474
dtype: float64

In [67]:
s

a    1.130230
b   -0.087434
c   -0.341245
d   -1.128444
e    0.085474
dtype: float64

In [68]:
a

b   -0.087434
e    0.085474
a    1.130230
dtype: float64

In [69]:
a.add(s)

a    2.260460
b   -0.174867
c         NaN
d         NaN
e    0.170947
dtype: float64

In [74]:
sa = a.add(s,fill_value=(0))

In [75]:
sa.apply(np.mean)

a    2.260460
b   -0.174867
c   -0.341245
d   -1.128444
e    0.170947
dtype: float64

In [76]:
sa

a    2.260460
b   -0.174867
c   -0.341245
d   -1.128444
e    0.170947
dtype: float64

In [77]:
sa.align(sa)

(a    2.260460
 b   -0.174867
 c   -0.341245
 d   -1.128444
 e    0.170947
 dtype: float64, a    2.260460
 b   -0.174867
 c   -0.341245
 d   -1.128444
 e    0.170947
 dtype: float64)

In [78]:
sa.mean()

0.15737017825204735

In [80]:
df.mean(1)

0    0.469539
1    0.004395
2    0.045642
3   -0.202159
4    0.257889
5    0.240138
dtype: float64

In [81]:
df.mean()

a    0.056763
c    0.215052
dtype: float64

In [82]:
df.a.idxmax()

4

In [83]:
df.a

0   -0.416118
1   -0.034853
2   -0.222547
3    0.914599
4    0.988457
5   -0.888960
Name: a, dtype: float64

In [84]:
df

          a    b         c    d
0 -0.416118  foo  1.355197  NaN
1 -0.034853  bar  0.043644  NaN
2 -0.222547  foo  0.313831  NaN
3  0.914599  bar -1.318917  NaN
4  0.988457  foo -0.472678  NaN
5 -0.888960  bar  1.369235  NaN

In [87]:
df.apply(lambda x: x.max()) # 第81分鐘前他演示了如何從股票行情找到最高點的那些日期,沒看懂

a    0.9884565
b          foo
c     1.369235
d          NaN
dtype: object